<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sidebar fragment</title>
</head>
<body>
  <div >
          <nav  th:fragment="sidebar">
              <ul>
                  <li class="logo"><img alt="Book Logo"  th:src="@{/images/logo.jpg}"></li>
                  <li>
                      <div class="dropdown">
                          <a href="#" class="dropbtn">Master Data</a>
                          <div class="dropdown-content">
                              <a href="#">Author Setup</a>
                              <a th:href="@{/category/table}">Category Setup</a>
                              <a href="#">Book Setup</a>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="dropdown">
                          <a href="#" class="dropbtn">Transaction</a>
                          <div class="dropdown-content">
                              <a href="#">Rent A Book</a>
                              <a href="#">Return A Book</a>
                              <a href="#">Customer Setup</a>
                          </div>
                      </div>
                  </li>
                  <li>
                      <a href="#"> Logout</a>
                  </li>

              </ul>
          </nav>

  </div>
</body>
</html>