<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <th:block th:replace="~{fragments/HtmlHeader :: html_head('Transaction History Table')}"></th:block>
</head>
<body>

<div th:replace="~{fragments/Sidebar :: sidebar}"></div>

<!-- tables section -->
<div class="wrapper">
  <div th:replace="~{fragments/NavBar :: navbar}"></div>
  <div class="section">
    <div class="box-area">

      <div class="user_table_post  mt-5">
        <div class="d-flex justify-content-between w-1024 desc" id="transactionHistory">
          <div>
            <h3>Transaction History</h3>
          </div>
          <div class="download">
            <a th:href="@{/transaction/download/excel}" >
              <i class="fa-solid fa-file-arrow-down" style="color: #24a0d6;"></i>
            </a>
          </div>
        </div>

        <!-- success message -->
        <div class="alert alert-success alert-dismissible fade show" th:if="${downloadMsg}">
          <i class="fa-solid fa-badge-check" style="color: #16e37a;"></i> <span th:text="${downloadMsg}"></span>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>


        <table class="table table-bordered table-striped mt-3" >
          <thead>
          <tr>
            <th>S.N.</th>
            <th><i class="fa-solid fa-book"></i>Book Name</th>
            <th><i class="fa-solid fa-user"></i> Customer Name</th>
            <th>Rent from</th>
            <th>Status</th>
            <th>Return Date</th>
            <th><i class="fa-solid fa-code"></i>Code</th>

          </tr>
          </thead>
          <tbody>
          <tr th:each="t, Index : ${transaction} ">
            <td th:text="${Index.count}">1</td>
            <td th:text="${t.book_name}"></td>
            <td th:text="${t.member_name}"></td>
            <td th:text="${t.from}"></td>
            <td th:text="${t.status}"></td>
            <td th:text="${t.returnDate}"></td>
            <td th:text="${t.code}"></td>

          </tr>

          </tbody>
        </table>

      </div>

    </div>
  </div>
  <!--            <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>-->
</div>


<div th:replace="~{fragments/Footer :: footer}"></div>

</body>
</html>