<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <th:block th:replace="~{fragments/HtmlHeader :: html_head('Change Password')}"></th:block>
</head>
<body>


<div class="emailForm" >
  <div class="card text-center" style="width: 370px;">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
      <form th:object="${user}" th:action="@{/api/change/password}" th:method="POST">
        <p class="card-text py-2">
          Please enter your new passwod.
        </p>
        <input th:field="*{id}" hidden/>
        <div class="form-outline">
          <label>New Password</label>
          <input type="password" id="typeEmail" class="form-control my-3"
                 placeholder="new Password " th:field="*{password}"/>

        </div>
        <button class="btn btn-primary w-50" type="submit">Change</button>
        <div class="d-flex justify-content-between mt-4">
          <a class="" th:href="@{/api/signIn}">Login</a>
          <a class="" th:href="@{/api/register}">Register</a>
        </div>

        <div class="alert alert-danger alert-dismissible fade show"  th:if="${errorMsg}">
          <span th:text="${errorMsg}"></span>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
      </form>
    </div>
  </div>
</div>

<div th:replace="~{fragments/Footer :: footer}"></div>
</body>
</html>