<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{fragments/HtmlHeader :: html_head('Forgot password Page')}"></th:block>
</head>
<body>
<div class="emailForm">
    <div class="card text-center" style="width: 370px;">
        <div class="card-header h5 text-white bg-primary">Password Reset</div>
        <div class="card-body px-5">
            <form th:object="${change}" th:action="@{/api/send/email}" th:method="POST">
                <p class="card-text py-2">
                    Enter your email address and we'll send you an email with instructions to reset your password.
                </p>
                <div class="form-outline">
                    <input type="email" id="typeEmail" class="form-control my-3" th:field="*{to}"
                           placeholder="Enter your email "
                           th:classappend="${#fields.hasErrors('to')?'is-invalid':''}"/>
                    <p th:if="${#fields.hasErrors('to')}" th:errors="*{to}" style="color: red"></p>

                </div>
                <button type="submit" class="btn btn-primary w-50">Send</button>
                <div class="d-flex justify-content-between mt-4">
                    <a class="" th:href="@{/api/signIn}">Login</a>
                    <a class="" th:href="@{/api/register}">Register</a>
                </div>

                <div class="alert alert-danger alert-dismissible fade show" th:if="${errorMsg}">
                    <i class="fa-solid fa-triangle-exclamation" style="color: #ff0505;"></i> <span
                        th:text="${errorMsg.message}"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="~{fragments/Footer :: footer}"></div>
</body>
</html>