<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/HtmlHeader :: html_head('Login Page')}"></th:block>
    <link th:href="@{/css/loginpage.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    <script src="https://kit.fontawesome.com/a7c7ec04b9.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="fullPage">

<div class="container">
    <div class="wrappers">
        <div class="title"><span>Login Form</span></div>
        <form th:action="@{/login}"  th:method="POST" >

            <div class="row">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Email or Phone" name="username" required>
            </div>
            <div class="row">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Password" name="password" required>
            </div>

            <div class="row button">
                <input type="submit" value="Login">
            </div>
            <div class="signup-link">Not a member? <a th:href="@{/api/register}" >Signup now</a></div>
            <a  id="forgetBtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Forget password ?
            </a>

<!--            this will be shown if the email & password to login is invalid-->
            <div class="alert alert-danger alert-dismissible fade show mt-2"  th:if="${param.error}">
                <i class="fa-solid fa-triangle-exclamation" style="color: #ff0505;"></i> Invalid username & password
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>

            <!--                        error message-->
            <div class="alert alert-danger alert-dismissible fade show" th:if="${errorMsg}">
                <i class="fa-solid fa-triangle-exclamation" style="color: #ff0505;"></i> <span th:text="${errorMsg.message}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>

            <!-- success message -->
            <div class="alert alert-success alert-dismissible fade show" th:if="${message}">
                <i class="fa-solid fa-badge-check" style="color: #16e37a;"></i><span th:text="${message}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>

        </form>
<!--        &lt;!&ndash; success message &ndash;&gt;-->
<!--        <div class="alert alert-success alert-dismissible fade show" th:if="${#fields.hasErrors('global')}">-->
<!--            <strong>Error!</strong> <span th:each="err : ${#fields.errors('global')}" th:text="${err}"></span>-->
<!--            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>-->
<!--        </div>-->
    </div>
</div>




    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" >
                    <div class="modal-header headBtn">
                        <div>
                            <h4 class="modal-title">Change your password</h4>
                        </div>

                        <div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                    </div>

                <div class="modal-body">
                    <form th:action="@{/api/change}" th:object="${changePassword}" th:method="POST">
                        <div class="popupEmail">
                            <label class="newPass">Email address</label>
                            <input type="text" class="form-control"
                                   th:field="*{email}"
                                   placeholder="Enter your email address">

                            <label class="newPass">New Password</label>
                            <input type="text" class="form-control"
                                   th:field="*{password}"
                                   id="floatingInput" placeholder="Enter your new password">

                            <input type="submit" value="change" class="btn btn-info" id="changeBtn">
                        </div>
                    </form>
                </div>
                <hr>

                <div class="model-body pass">
                    <form>
                        <div class="popupEmail">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<div th:replace="~{fragments/Footer :: footer}"></div>
</body>
</html>