<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <th:block th:replace="~{fragments/HtmlHeader :: html_head('Rent Book Form')}"></th:block>
</head>
<body>
<div th:replace="~{fragments/Sidebar :: sidebar}"></div>

<!-- tables section -->
<div class="wrapper">
  <div th:replace="~{fragments/NavBar :: navbar}"></div>
  <div class="section">
    <div class="box-area">

      <div class="category-form">
        <div class="titleDesc">
          <span><strong>Rent Book form</strong></span>

          <a th:href="@{/transaction/table}">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
              <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
            </svg>
          </a>
        </div>

        <form th:object="${rent}" th:action="@{/rent/book/save}" th:method="POST">
          <div class="form-floating ">
            <input type="text" th:field="*{id}" hidden>
          </div>

          <div class="form-floating d-flex flex-fill gap-5">
            <div class="categoryId">
              <label for="book" class=""> Book</label>
              <select th:field="*{bookId}" class="form-select mt-2"
                      id="Category">
                <option th:each="b : ${book}"
                        th:value="${b.id}"
                        th:text="${b.name}">
                </option>

              </select>
            </div>

            <div class="authorId">
              <label > Member</label>
              <select th:field="*{memberId}"  class="form-select mt-2">
                <option th:each="m : ${member}"
                        th:value="${m.id}"
                        th:text="${m.name}">
                </option>

              </select>
            </div>

          </div>

          <div class="form-floating ">
            <input type="number" class="form-control" th:field="*{days}"
                   th:classappend="${#fields.hasErrors('days')?'is-invalid':''}">
            <label for="floatingInput">Days</label>

<!--            error message-->
            <p th:if="${#fields.hasErrors('days')}" th:errors="*{days}"
               class="invalid-feedback">
            </p>
          </div>


          <button class="btn btn-dark upload_btn mt-4 me-3" type="reset">Reset</button>
          <button class="btn  btn-primary upload_btn_submit ms-4 mt-4" type="submit">Submit</button>

          <!--  error message-->
          <div class="alert alert-danger alert-dismissible fade show" th:if="${errorMsg}">
            <i class="fa-solid fa-triangle-exclamation" style="color: #ff0505;"></i> <span th:text="${errorMsg}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>


<div th:replace="~{fragments/Footer :: footer}"></div>
</body>
</html>