<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/HtmlHeader :: html_head('Rent Book Table')}"></th:block>
</head>
<body>

<div th:replace="~{fragments/Sidebar :: sidebar}"></div>

<!-- tables section -->
<div class="wrapper">
    <div class="section">
        <div class="box-area">
            <div class="user_table_post  mt-5">
                <div class="d-flex justify-content-between w-1024 desc" >
                    <h3>All Rent Book list</h3>
                    <a class="btn btn-info" id="creatBtn" th:href="@{/rent/book/form}">Create</a>
                </div>


                <table class="table table-bordered table-striped mt-3" >
                    <thead>
                    <tr>
                        <th>S.N.</th>
                        <th>Book Name</th>
                        <th>Customer Name</th>
                        <th>Status</th>
                        <th>Code</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="r,Index:${rentInfo}">
                        <td th:text="${Index.count}">1</td>
                        <td th:text="${r.book.name}"></td>
                        <td th:text="${r.member.name}"></td>
                        <td th:text="${r.status}"></td>
                        <td th:text="${r.code}"></td>
                        <td class="actionField">
<!--                            <a th:href="@{/rent/book/update/}+${r.id}">-->
<!--                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">-->
<!--                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>-->
<!--                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>-->
<!--                                </svg>-->
<!--                            </a>-->
                            <a th:href="@{/rent/book/delete/}+${r.id}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                </svg>
                            </a>
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>

        </div>
    </div>
    <!--            <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>-->
</div>


<div th:replace="~{fragments/DeleteMessage :: deleteMsg(message = ${message})}"></div>
<div th:replace="~{fragments/Footer :: footer}"></div>


</body>
</html>